body {
	color:#5d5d5d;
}
a, a:hover {
	color:#0559a7;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#0559a7;
	text-decoration:none;
}
#main h1 a:hover, #main h2 a:hover, #main h3 a:hover, #main h4 a:hover, #main h5 a:hover, #main h6 a:hover {
	color:#0559a7;
	text-decoration:none;
}
.h-header {
	background:url(../h_header_bg.jpg) repeat-x;
}
.h-header-wrapper {
	background:url(../h_header_img.jpg) no-repeat;
}
.int-header {
	background:url(../int_header_bg.jpg) repeat-x;
}
.int-header-wrapper {
	background:url(../int_header_img.jpg) repeat-x;
}
a.button {
    background:transparent url(../btn_span_a.gif) no-repeat scroll top right;
}
a.button span {
    background:transparent url(../btn_span_bg.gif) no-repeat;
}
.footer-menu a {
	color:#d9d9d9;
}
.footer-menu a:hover {
	color:#fff;
	text-decoration:none;
}
.jqueryslidemenu .primary-menu .selected a {
	color:#fff;
}